body{
    background:#eeedec;
}

img{
    width:80%;
}

.name{
    font-size:1.3rem;
    font-weight: bold;
}
.container{
    max-width:800px;
}

.vstack{
    font-size:1.2rem;
}

.border-bottom:last-child{
    border-bottom: none !important;
}